@model IEnumerable<KontiApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Сотрудники</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<select id = "TypeList" asp-items="ViewBag.EmployeesTypeId">
    <option>Выберите должность</option>
</select>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ФИО")
            </th>
            <th>
                @Html.DisplayName("Телефон")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th>
                @Html.DisplayName("E-Mail")
            </th>
            <th>
                @Html.DisplayName("Должность")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeesType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>

            </td>
        </tr>
}
    </tbody>
    <form method="post" asp-controller="Employees" asp-action="ExportExcel">
        <input type="submit" value="Export" class="btn btn-primary"/>
</form>
</table>
